/* Ancho de la scrollbar */
::-webkit-scrollbar {
    /* width: 18px; */
}

/* Fondo de la scrollbar. El radio en 3D */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px;
    border-radius: 10px;
}

/* Circunferencia de los bordes */
::-webkit-scrollbar-thumb {
    background: #2152a0;
    border-radius: 10px;
}

/* Cambio de color al posiciona el cursor */
::-webkit-scrollbar-thumb:hover {
    background: black;
}


body{
  font-family:'Roboto', sans-serif;
  background-color:#D2E2F3;
}
