body{
  scroll-3dlight-color:#79a7f2;
  scroll-arrow-color:#2b569b;
  scroll-base-color:#ce0c66;
  scroll-darkshadow-color:black;
  scroll-face-color:#110008;
  scroll-highlight-color:#37d617;
  scroll-shadow-color:#d63808;
  scroll-track-color:#21f2d9;
  font-family:'Roboto', sans-serif;
  background-color:#D2E2F3;

}
